#myVideo {
    position: fixed;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

#headerThree {
    display: flex;
    justify-content: center;
    color: #a42388;
    margin-top: 50px;
    font-size: 35px;
   
}

h1, button {
    font-family: 'Josefin Sans', sans-serif;
}

#myButton {
    display: none;
}

@media all and (max-width: 500px) {
    #myButton {
        padding: 10px;
        border-radius: 20px;
        display: block;
        background-color: #a42388;
        color: white;
    }

    #headerThree {
        font-size: 20px;
    }
}
